<%
  #
  # Environemnt data logger
  #
  #   Copyright (C) 2020 Hiroshi Kuwagata <kgt9221@gmail.com>
  #
%>

<div id="loading-shield">
  <div class="shield-content">
    <div class="loading-spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <div id="shield-message">
  </div>
</div>
