@charset "UTF-8";
@import "../common.scss";
@import "../../../common/scss/abort_shield.scss";
@import "../../../common/scss/loading_shield.scss";
@import "../../../common/scss/error_modal.scss";
@import "../misc/dialog/device_info.scss";

body {
  position: relative;
  width: 100%;
  height: 100%;
}

table#sensor-table {
  .sensor-num {
    width: 1rem;
  }

  .last-update {
    width: 14rem;
  }

  .temperature {
    width: 5em;
  }

  .humidity {
    width: 5em;
  }

  .air-pressure {
    width: 5em;
  }

  .vbat {
    width: 4em;
  }

  .vbus {
    width: 4em;
  }

  .state {
    width: 8em;
  }

  .description {
  }

  .control {
    width: 1rem;
  }
}

table#sensor-table > thead {
  th.temperature {
    text-align: center;
  }

  th.humidity {
    text-align: center;
  }

  th.air-pressure {
    text-align: center;
  }

  th.vbat {
    text-align: center;
  }

  th.vbus {
    text-align: center;
  }
}

table#sensor-table > tbody {
  counter-reset: sensor-num 0;

  tr {
    counter-increment: sensor-num;
  }

  td.sensor-num > a:before {
    content: counter(sensor-num);
  }

  td.sensor-num {
    font-family: "Roboto mono";
  }

  td.last-update {
    font-family: "Roboto mono";
  }

  td.temperature {
    font-family: "Roboto mono";
    text-align: right;
  }

  td.temperature:after {
    content: "\2103";
    font-size: 75%;
  }

  td.humidity {
    font-family: "Roboto mono";
    text-align: right;
  }

  td.humidity:after {
    content: "\0025";
    font-size: 75%;
  }

  td.air-pressure {
    font-family: "Roboto mono";
    text-align: right;
  }

  td.air-pressure:after {
    content: "hPa";
    font-size: 75%;
  }

  td.vbat {
    font-family: "Roboto mono";
    text-align: right;
  }

  td.vbat:after {
    content: "V";
    font-size: 75%;
  }

  td.vbus {
    font-family: "Roboto mono";
    text-align: right;
  }

  td.vbus:after {
    content: "V";
    font-size: 75%;
  }

  td.state {
    font-family: "Roboto mono";
  }

  td.state.state-ready:after {
    content: "READY";
  }

  td.state.state-normal:after {
    content: "NORMAL";
  }

  td.state.state-dead-battery:after {
    color: "red";
    font-weight: bold;
    content: "BT-DEAD";
  }

  td.state.state-stall:after {
    color: "red";
    font-weight: bold;
    content: "STALL";
  }

  td.state.state-pause:after {
    content: "PAUSE";
  }

  td.description {
    font-family: Roboto;
  }

  td.control {
    text-align: center;
  }
}
