@charset "UTF-8";
@import "../../../common/scss/abort_shield.scss";
@import "../../../common/scss/bootstrap-ext.scss";
@import "../../../common/scss/plotly-ext.scss";

body {
  position: relative;
  width: 100%;
  height: 100%;
}

nav {
  position: fixed!important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  h4 {
    margin-bottom: 0;
  }

  form {
    margin-bottom: 0;
  }

  a.nav-link.dropdown-toggle {
    color: #dfa107;
  }

  a.nav-link.dropdown-toggle:hover {
    color: var(--warning);
  }
}

div#result {
  div.label {
    font-size: 3.5vmin;
    font-weight: 700;
    width: 20%;
  }

  div.value {
    width: 20%;

    span.number {
      display: inline-block;
      width: calc(100% - (5rem * 0.5714));
      font-size: 3.5vmin;
      font-family: "Roboto mono";
    }

    span.unit {
      font-size: 2vmin;
      width: 5rem;
    }
  }
}

button#prev-date {
  border: none
}

input#target-date {
  width: 7em;
  text-align: center;
  border: none;
}

button#next-date {
  border: none;
}



button#prev-date {

}

div#mode-radio {
  margin-left: 2rem;
}

div#temp-graph {
  width: 100%;
  height: 30vw;
}

div#rh-graph {
  width: 100%;
  height: 30vw;
}

div#vh-graph {
  width: 100%;
  height: 30vw;
}

div#air-graph {
  width: 100%;
  height: 30vw;
}
