@charset "UTF-8";
@import "../../../common/scss/abort_shield.scss";
@import "../../../common/scss/bootstrap-ext.scss";
@import "../../../common/scss/plotly-ext.scss";

body {
  position: relative;
  width: 100%;
  height: 100%;
}

div#result {
  div.label {
    font-size: 5vmin;
    font-weight: 700;
    width: 20%;
  }

  div.value {
    width: 30%;

    span.number {
      display: inline-block;
      width: 10rem;
      font-size: 5vmin;
      font-family: "Roboto mono";
    }

    span.unit {
      font-size: 2vmin;
    }
  }
}

input#target-date {
  width: 8em;
}

div#mode-radio {
  margin-left: 2rem;
}

div#temp-graph {
  margin-top: 2.5rem;
  width: 100%;
  height: 30vw;
}

div#rh-graph {
  width: 100%;
  height: 30vw;
}

div#vh-graph {
  width: 100%;
  height: 30vw;
}

div#air-graph {
  width: 100%;
  height: 30vw;
}
